In [2]:
# Creating a list

list = []
print(list)
print(type(list))

[]
<class 'list'>

In [3]:
# Creating 3 lists

L1, L2, L3 = [], ["Yong San", "San Yong"], [19, 1991]
print(L1, L2, L3)

[] ['Yong San', 'San Yong'] [19, 1991]

In [13]:
# Creating a list 

D1, D2, D3 = "Yong San", 19, "February"
L1 = [D1, D2, D3]
print(type(L1), L1)
D2 = 20
print(D2)
print(L1)

<class 'list'> ['Yong San', 19, 'February']
20
['Yong San', 19, 'February']

In [7]:
 # theList = [iter for iter in range(5)]

theList = [iter for iter in range(5)]
print(theList)

[0, 1, 2, 3, 4]

In [ ]:
# creating a list using list()

In [14]:
listofCountries = ["India","America","England","Germany","Brazil","Vietnam"]
lettes = ["I", "A"]
firstLetters = [ country[0] for country in listofCountries ]

#get the list of countries
#iterate over the list using the for loop
#read each element of the list, e.g. firt element would be India
#country = India
#Get the first element of the string, country which I
#store this value inside the list firstletters
print(firstLetters)
country = "India"

#print letters of the string sequentially

['I', 'A', 'E', 'G', 'B', 'V']

In [15]:
# adding lists

L1, L2 = [1,2], [3,4]
print(L1 + L2)

[1, 2, 3, 4]

In [24]:
# extending lists

L1, L2 = [1,2], [3,4]
L1.extend(L2)
print(L1)
L1.append(L2)
L1

[1, 2, 3, 4]

[1, 2, 3, 4, [3, 4]]

In [23]:
# appending lists not the same as extending 
L3 = [0,0]
L1.append(L3)
L1
print(L1)

[1, 2, 3, 4, [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

In [25]:
listofnumbers = [1,2,4,5,6,0]
#find the number at 2nd position of the list
#find the number at 5th position of the list

print(listofnumbers[1], listofnumbers[4])

2 6

In [26]:
# inserting element to the list

newlistofnumbers = listofnumbers
newlistofnumbers.insert(2, 19)
newlistofnumbers

[1, 2, 19, 4, 5, 6, 0]

In [36]:
# slicing
listofnumbers2 = [1,2,3,4,5,6,7,8,9,10]
listofnumbers2[0:4:3]

[1, 4]

In [38]:
# for loop 

for i in [1,2,3]: 
    print("what the hell is going on")
    if i == 3:
        print("ah i see it now")

what the hell is going on
what the hell is going on
what the hell is going on
ah i see it now

In [43]:
# for loop again

newlistofcountries = ["Singapore", "Malaysia", "Darnassus"]
countrieslist = [country[0] for country in newlistofcountries]
print(countrieslist)

['S', 'M', 'D']

In [ ]:
# create sets using set()

In [45]:
# toying with sets

set1 = {1,2,3,4,5,19}
print(set1)
set1.remove(19)
set1

{1, 2, 3, 4, 5, 19}

{1, 2, 3, 4, 5}

In [ ]:
# unions using &

In [ ]:
# range

In [ ]:
# continue (for while and for loop)

In [46]:
# Python intersection example using the & operator
setA = {'a', 'e', 'i', 'o', 'u', 'g', 'h'}
setB = {'a', 'e', 'z', 'b', 't', 'o', 'u'}

print("Initial setA:", setA, "size:", len(setA))
print("Initial setB:", setB, "size:", len(setB))

print("(setA & setB):", setA & setB, "size:", len(setA & setB))
# Python set example to test elements in a set
basket = set(["apple", "mango", "banana", "grapes", "orange"])

# confirm if 'apple' is in the basket
print("Is 'apple' in the basket?", 'apple' in basket)

# confirm if 'grapes' is in the basket
print("Is 'watermelon' in the basket?", 'watermelon' in basket)

Initial setA: {'e', 'i', 'h', 'u', 'o', 'g', 'a'} size: 7
Initial setB: {'e', 'z', 'b', 't', 'o', 'u', 'a'} size: 7
(setA & setB): {'u', 'e', 'a', 'o'} size: 4
Is 'apple' in the basket? True
Is 'watermelon' in the basket? False

In [57]:
# trying out single valued tuple

py_tuple = 66,
print(type(py_tuple))
py_tuple

<class 'tuple'>

(66,)

In [63]:
# creating dictionary

dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}

print(dict['Student Name'], dict['Roll No.'])

dict["Number of girlfriends"] = "5"

print(dict)

print(dict.get('Subject'))

print(dict.get('Number of boyfriends'))

print(dict)

Berry 12
{'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English', 'Number of girlfriends': '5'}
English
None
{'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English', 'Number of girlfriends': '5'}

In [64]:
# clearing dictionary

dict.clear()

dict

{}

In [69]:
dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}
for k in dict:
    print(k, dict[k])

Student Name Berry
Roll No. 12
Subject English